<%- include('../partials/header') %>
 
<main>
    <div class="container">
        <h2>Welcome</h2>
        
        <hr class="w-50"/>

        <div class="w-100" style="margin-bottom: 0; display: flex; justify-content: center; flex-direction: column; align-items: center;">
            <form action="/auth/login" method="POST" class="w-75">
                    <input type="email" name="email" placeholder="Email" class="form-control" />
                    <input type="password" name="password" placeholder="Password"class="form-control" required />
                <button type="submit" class="w-75 align-center">Login</button>
            </form>

            <p style="text-align: center;">Don't have an account? <a href="/auth/register" style="color: blue; text-decoration: underline;">Register</a></p>

        </div>
    </div>

</main>


<%- include('../partials/footer') %>