<!DOCTYPE html>
<html>
<head>
    <title>Course System</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="page-container">
    
    <nav>

    <!-- LOGGED IN USER -->
    <% if (user) { %>

        <a href="/">Home</a>

        <% if (user.role === 'admin') { %>
            <a href="/dashboard/admin">Dashboard</a>
        <% } else if (user.role === 'instructor') { %>
            <a href="/dashboard/instructor">Dashboard</a>
        <% } else if (user.role === 'student') { %>
            <a href="/dashboard/student">Dashboard</a>
        <% } %>

        <a href="/courses">Courses</a>

        <a href="/auth/logout">Logout</a>

    <% } else { %>

        <!-- GUEST USER -->
        <div style="display:flex; justify-content: space-between; gap: 15px">
            <a href="/">Home</a>
            
            <a href="/courses">Courses</a>
        </div>

        <% if (currentPath !== '/auth/register' && currentPath !== '/auth/login') { %>
            <a href="/auth/register" class="btn">Register</a>
        <% } %>

    <% } %>

    </nav>

    <% if (success && success.length > 0) { %>
        <div class="toast success auto-hide"><%= success %></div>
    <% } %>

    <% if (error && error.length > 0) { %>
        <div class="toast error auto-hide"><%= error %></div>
    <% } %>