    <%- include('../partials/header') %>
    <!-- HERO -->
    <div class="hero">
        <h1>Welcome to the Learning Platform</h1>
        <strong><p style="color: white;">Manage courses, enroll students, and track progress easily.</p></strong>

        <a href="/courses" class="btn">Browse Courses</a>
        <a href="/auth/register" class="btn secondary">Get Started</a>
    </div>

    <!-- FEATURES -->
    <div class="features">

        <div class="card">
            <h3>📚 Courses</h3>
            <p>Create and manage learning content easily.</p>
        </div>

        <div class="card">
            <h3>🎓 Enrollment</h3>
            <p>Students can enroll and track their progress.</p>
        </div>

        <div class="card">
            <h3>👨‍🏫 Roles</h3>
            <p>Separate dashboards for admin, instructors, and students.</p>
        </div>

    </div>

    <%- include('../partials/footer') %>